/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET.CSS*/


.wrapper{
	max-width:1920px;
	width:100%;
	margin: 0 auto;
}

header {
	height:100px;
	background-color: #ebecee;
}
header .menu ul{
	display:flex;
	width:340px;
	justify-content: space-around;
}
header .menu ul li a{
	text-decoration: none;
	color:#333333;
	font-size:16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: medium;
}
header .btn a{
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 25px 50px;
	background-color: white;
	border-radius: 30px;
}
header .btn, header .menu, header .logo {
	display: inline-block;
}

header .logo{
	margin-top: 70px;
	margin-left: 2.5%;
}
header .menu{
	margin-left: 55%;
	position: relative;
	top:-20px;
}
header .btn{
	margin-left:2%;
	position: relative;
	top:-20px;
}
.container2 {
	background-image: url('./img/background_top.png');
	height: calc(100vh - 140px);
	background-repeat: no-repeat;
	background-color: #ebecee;
	background-position-x: 100%;
	background-size: contain;
}
.container2 div{
	width: 60%;
	text-align: center;	
}
.container2 div p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	font-weight: 300;
	padding-top: 18%;
	margin-bottom: 9%;
}
.container2 div .btn{
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 25px 87px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
}
.center {
	max-width: 1200px;
	width:100%;
	margin:0 auto;
}

.container3 h2{
	margin-top: 100px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color:#141311;
	text-align:center;
}

.container3 p{
	margin-bottom: 35px;
	margin-top: 23px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #333333;
	font-size:14px;
	text-align: center;
	line-height: 2;
}
.container3 .cards{
	display: flex;
	justify-content: center;
}
.container3 .cards .item h3{
	font-family: 'Ubuntu', sans-serif;
	font-size:22px;
	font-weight: 300;
	margin-top: 42px;
	padding-left:34px;
}
.container3 .cards .item p{
	padding-left: 34px;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	margin-right:47px;
	text-align: left;
}
.container6{
	background-image: url(./img/background_black.png);
	height: 1090px;
	background-repeat: no-repeat;
}
.container6 .center h2{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 48px;
	color: #ffffff;
	padding-top: 250px;
	padding-bottom: 135px;
}
.container6 .center .cards{
	display: flex;
	justify-content: center;
	text-align: center;
}
.container6 .cards h3 {
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #ffffff;
	margin-top: 35px;
	margin-bottom: 45px;
}
.container6 .cards .cost {	
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #c89d28;
}
.container6 .cards .dscr1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #767676;
	margin-bottom: 90px;
	padding: 0px 80px;
	line-height: 2;
}
.container6 .cards .btn1{
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 25px 87px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
}
.container6 .cards .btn2{
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 25px 50px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	margin-top: 90px;
}
.container6 .cards .btn3{
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 25px 50px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	margin-top: 90px;
}
.container6 .cards .btn a{
	text-decoration: none;
	text-align: center;
}
.container4 {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.container4 .item6{
	background-image: url('./img/cell23.png');
	background-repeat: no-repeat;
	background-size: contain;
	grid-column: 3/4;
	grid-row: 2/4;
	margin:0;
}
.container4 .item7{
	background-image: url('./img/cell31.png');
	background-repeat: no-repeat;
	background-size: contain;
	grid-column: 1/3;
	grid-row: 3/4;
	margin:0;
	background-color: rgba(0,0,0,0);
}
.container4 div:first-child, .container4 div:nth-child(3){
	background-color: #f8f8f8;
}
.container4 div img{
	max-width: 100%;
}
.container4 div{
	margin: auto;
}
.container4 div span{
	margin-left: 25%;
	margin-right: 20%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size:30px;
	color: #141311;
}
.container4 div i{
	display: block;
	width: 35px;
	height: 2px;
	background-color: #000000;
	margin-left: 25%;
	margin-top: 12px;
}
.container4 div p{
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size:14px;
	color: #333333;
	width:60%;
	margin-left:25%;
	margin-top:25px;
}
.container4 .item7 p{
	margin-left:12.5%;
	width:30%;
}
.container4 .item7 i{
	margin-left:12.5%;
}
.container4 .item7 span{
	margin-left:12.5%;
	width:30%;
}
.container4 .item7 .item7a{
	margin-left: 10%;
	margin-top:10%;
	background-color: #f4f0eb;
	width:20%;
}
.container4 .item6 span{
	display:block;
	color: #fff;
	width:50%;
	margin-top: 85%;
}
.container4 .item6 p{
	color: #fff;
}
.container4 .item6 i{
	background-color: #fff;
}
.container7 {
	background-color: #e8e9ea;
}
.container7 h2{
	color: #000000;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-size:48px;
	font-weight: 300;
	padding-top: 140px;
	padding-bottom: 70px;
}

.container7 .grid{
	display: grid;
	grid-template-columns: 2.1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 0.75fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.container7 .grid .item1{
	background-image: url('./img/imgitem1.png');
	background-repeat: no-repeat;
	background-size: contain;
	grid-column: 1/2;
	grid-row: 1/3;
}
.container7 .grid .item1 h3{
	color:white;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-size:30px;
	font-weight: 300;
	padding-top:38.5%;
	width:95%;
}
.container7 .grid .item1 p{
	color: #a1a09f;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-size:11px;
	font-weight: 300;
	padding-top: 34px;
	padding-bottom: 38.5%;
}
#yellow{
	color:#c89d28;
}
.container7 .grid .item1 .btn{
	text-decoration: none;
	color: white;
	font-size: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	background-color: #8d7431;
	border-radius: 30px;
	text-align: center;
}
.container7 .grid .item1 .ot{
	margin-top:20px;
	margin-left: 15px;
}
.container7 .grid .pic {
	margin-top: 20px;
	margin-left: 10px;
}
.container7 .grid .pic .btn{
	text-decoration: none;
	color: white;
	font-size: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	background-color: #8d7431;
	border-radius: 30px;
	text-align: center;
	margin-top:20px;
	margin-left:5px;
}
.container7 .grid .c2 p{
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	font-weight: 300;
	margin-top: 72%;
}
.container7 .grid .c2{
background-image: url('./img/img\ 7\ 12.png');
background-repeat: no-repeat;
background-size: contain;
background-color: rgba(0,0,0,0);
}
.container7 .grid .pic .btn2{
	text-decoration: none;
	color: white;
	font-size: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	background-color: #8d7431;
	border-radius: 30px;
	text-align: center;
	margin-top:20px;
	margin-left:5px;
}
.container7 .grid .c3{
	background-image: url('./img/img\ 7\ 13.png');
	background-repeat: no-repeat;
	background-size: contain;
	}
.container7 .grid .c3 p{
		color: black;
		font-family: 'Ubuntu', sans-serif;
		font-size:18px;
		font-weight: 300;
		margin-top: 72%;
}
.container7 .grid .c4 p{
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	font-weight: 300;
	margin-top: 72%;
}
.container7 .grid .c4{
background-image: url('./img/img\ 7\ 22.png');
background-repeat: no-repeat;
background-size: contain;
}
.container7 .grid .c5 p{
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	font-weight: 300;
	margin-top: 72%;
}
.container7 .grid .c5{
background-image: url('./img/img\ 7\ 23.png');
background-repeat: no-repeat;
background-size: contain;
}
.container7 .grid .item2{
	grid-column: 1/4;
	grid-row: 3/4;
	text-align: center;
}
.container7 .grid .item2 .btn{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 26px 90px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	margin-top: 58px;
}
.container7 .grid .item2 div{
	margin-top:58px;
}
.container8{
	margin-top: 200px;
	margin-bottom: 200px;
}
.container8 h3{
	font-size:30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: black;
}
.container8 .left_desc p{
	font-size:16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: black;
	margin-top:10px;
	line-height: 26px;
}
.container8 .left_desc p span{
	font-weight: 500;
}
.container8 svg{
	font-size:39px;
	color: #cca438;
}
.container8 .txt{
	font-size:14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #333333;
	margin-left: calc(20% + 5px);
	width: 80%;
}
.container8 .spans{
	font-size:22px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	position: relative;
	top: -20px;
	left: 20px;
}
.container8 .center_desc div:nth-child(n+2){
	margin-top:40px;
}
.container8 .right_desc div:nth-child(n+2){
	margin-top:40px;
}
@media(max-width: 1200px){
	.container8 .txt{
		margin-left: calc(20% + 15px);
	}
}
@media(max-width: 992px){
	.container8 .spans{
		font-size:14px;
	}
	.container8 .txt{
		margin-left: calc(20% + 30px);
	}
}
@media(max-width: 768px){
	.container8 .left-desc{
		margin-bottom: 30px;
	}
	.container8 .txt{
		margin-left: calc(20% + 25px);
	}
}
@media(max-width: 576px){
	.container8 .txt{
		margin-left: 72px;
	}
}
.container9{
	background-image: url('./img/background_black.png');
	background-size: cover; 
}
.container9 .container .h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size:48px;
	font-weight: 300;
	padding-top:250px;
	padding-bottom: 116px;
	color: white;
	margin:0;
}
.container9 .container .yellow{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size:80px;
	font-weight: 300;
	padding-bottom: 32px;
	color: #c89d28;
	margin: 0;
}
.container9 .container .txt{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	font-weight: 300;
	padding-bottom: 120px;
	color: white;
	margin:0;
}
.container9 .container .descr_bottom{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size:24px;
	font-weight: 300;
	padding-bottom: 289px;
	color: #999999;
	padding-left:10%;
	padding-right:10%;
	margin:0;
}